[type="range"] {
  margin: 0;
  width: 230px;
  max-width: 230px;
  min-height: 38px;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  align-items: center;
  padding: 8px 16px;
  background: transparent;
  border-radius: 90px;
  border: 1px solid transparent;
}


[type="range"]:hover {
  border: 1px solid #000;
  background: #fff;
}

[type="range"].is-vertical.is-tiny {
  width: 160px;
  min-width: 160px;
}

[type="range"].is-tiny {
  width: 365px;
  min-width: 365px;
}


[type="range"].is-hollow.is-tiny {
  width: 158px;
  min-width: 158px;
}

[type="range"].is-small {
  width: 200px;
  min-width: 200px;
}

[type="range"].is-medium {
  width: 300px;
  min-width: 300px;
}

[type="range"].is-large {
  width: 400px;
  min-width: 400px;
}

[type="range"].is-vertical {
  transform: rotate(90deg);
}

[type="range"],
[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  outline: none;
}
[type="range"]::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 1px;
  background: #000;
}
[type="range"].is-hollow::-webkit-slider-runnable-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 0px;
  border: none;
  background: transparent;
}
[type="range"].is-hollow::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 0px;
  border: none;
  background: transparent;
}

[type="range"]::-moz-range-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 1px;
  background: #000;
}
[type="range"]::-ms-track {
  box-sizing: border-box;
  border: none;
  width: 100%;
  height: 1px;
  background: #000;
}
[type="range"]::-webkit-slider-thumb:hover,
[type="range"]::-webkit-slider-thumb:active {
  background: #000;
}
[type="range"]::-moz-range-thumb:hover,
[type="range"]::-moz-range-thumb:active {
  background: #000;
}
[type="range"]::-ms-thumb:hover,
[type="range"]::-ms-thumb:active {
  background: #000;
}

[type="range"]::-webkit-slider-thumb {
  margin-top: -7px;
  box-sizing: border-box;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
}

[type="range"]::-moz-range-thumb {
  box-sizing: border-box;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
  outline: none;
}
[type="range"]::-ms-thumb {
  margin-top: 0;
  box-sizing: border-box;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
  border: 1px solid #000;
}

[type="range"]::-ms-tooltip {
  display: none;
}

[type="range"].is-vertical.is-hollow {
  background: transparent;
  border: none;
}

[type="range"].is-hollow {
  background: transparent;
  border: none;
  height: 0;
  min-height: 0;
  padding: 0;
}

[type="range"].is-hollow::-moz-range-thumb {
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: none;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000;
  transform: translate(0, 4px);
}

[type="range"]:active.is-hollow::-webkit-slider-thumb {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #000;
}

[type="range"]:hover.is-hollow::-webkit-slider-thumb {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid #000;
}

[type="range"].is-hollow::-webkit-slider-thumb {
  margin: 0;
  border-radius: 0;
  background: transparent;
  border: none;
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #000;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

@media (max-width: 1050px) {
  [type="range"].is-medium {
    width: 200px;
    min-width: 200px;
  }
}

@media (max-width: 800px) {
  [type="range"].is-medium {
    width: 150px;
    min-width: 150px;
  }
}
